@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&family=Dancing+Script&family=Raleway:wght@400;700&family=Roboto:wght@100;200;300;400;500&family=Shippori+Antique+B1&family=Shrikhand&display=swap");

/* PARAMÈTRES GÉNÉRAUX  */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgba(0, 0, 255, 0.397); */
}
#loader-spin{
  /* création des dimenssion SPIN  */
  border: 10px solid grey;
  border-radius: 50%;
  border-top: 10px solid #9356DC;
  border-right: 6px solid #FF79DA;
  border-bottom: 10px solid #9356DC;
  border-left: 6px solid #99E2D0;
  width: 10rem;
  height: 5rem;
  -webkit-animation: rotation 3s linear;
  -o-animation: rotation 3s linear;
  animation: rotation 3s linear;
  transition-duration: 5s;
  transition-property: background-color;
  visibility: visible;
  /* Placement du spin au milieu de l'écran */
  
  margin: auto;
  position: absolute;
  /* left: 50%; top: 50%; right: 50%; bottom: 50%; */
  top: 0; left: 0; right: 0; bottom: 0;
}

@keyframes rotation {
  0%{
    transform: rotate(0deg);
    opacity: 0;
  }
100%{
    transform: rotate(360deg);
    opacity: 1;
  }
}
main {
  /* background-color: rgb(129, 212, 129); */
  font-family: "Roboto", sans-serif;
}
section {
  width: 100%;
  margin: 0;
}
/* h2 {
  font-size: clamp(1rem, 2.5vw, 5rem);
} */

ul {
  list-style: none;
}

/* Couleurs Maquette */
#primaire {
  background-color: #9356DC;
}
#secondaire {
  background-color: #FF79DA;
}
#tertiaire {
  background-color: #99E2D0;
}
/*********************** ENTÊTE Accueil *****************************/

.retour {
  /* display: flex; */
  /* justify-content: center; */
  width: 100%;
}
.logo-entete {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  text-align: center;
}
.logo-next{
  width: 100%;
  /* display: flex; */
}
.logo-entete-next {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  width: 100%;
  text-align: start;
}  

/******************* Section Explorer Accueil ********************/
#explorer-restaurants {
  text-align: center;
  background-color: #f7f7f7;
  height: 24rem;
  width: 100%;
}

#explorer-restaurants i {
  margin-right: 2rem;
}

#explorer-restaurants p:nth-child(0n + 1) {
  background-color: rgba(128, 128, 128, 0.061);
  border-top: 4px solid rgba(128, 128, 128, 0.164);
  height: 3rem;
  padding-right: 2.5rem;
  padding-top: 1.5rem;
  /* background-color: rgba(0, 0, 255, 0.096); */
}
#explorer-restaurants h2 {
  margin-top: 3rem;
  margin-bottom: 0;
}
#explorer-restaurants p:nth-child(n+2){
  /* font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; */
  font-size: 18px;
  line-height: 1.5;
  font-weight: 200;
}
#button-explorer {
  align-items: center;
  background-image:  linear-gradient(to top, #9356DCE6, #FF79DAE6);
  transition: all 300ms;
  box-shadow: 1px 1px 14px -3px #000000b2;
  border-radius: 2rem;
  border:none;
  color: white;
  font-weight: bold;
  height: 3.5rem;
  margin-top: 1.8rem;
  width: 14rem;
  margin-left: auto;
}
#button-explorer:hover{
  transform: scale(1.01);
  /* transition: opacity .3s; */
  /* box-shadow: 2px 1px 1px #9356DC; */
  /* transform: scale(1.1); */
  opacity: 0.9;  
  cursor: pointer;
}
/****************** section fonctionnement Accueil *****************/

#fonctionnement {
  flex-wrap: wrap;
  font-size: 1.2rem;
}
#fonctionnement,
ul {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-style: normal;
  margin: 0;
  width: 95%;
}

#conteneur-F{
  position: relative;
}
#contenereur-F h2 {
  margin-left: 5%;
}
#puces1 i{
  position: absolute;
  /* top: 12%; */
  /* left: -2%; */
  top: 2.5rem;
  left: -0.5rem;
  z-index: 1;
  font-size: 30px;
  color: #9356DC;
  /* transform: translate(-2% -2%); */
}
#puces1 span{
  position: absolute;
  /* top: 12.5%; */
  /* left: 0.5%; */
  top: 0.4rem;
  left: 0.7rem;
  z-index: 1;
  color: white;
  font-size: 15px;
}
#puces2 i{
  position: absolute;
  /* top: 45%; */
  /* left: -2%; */
  top: 9rem;
  left: -0.5rem;
  z-index: 1;
  font-size: 30px;
  color: #9356DC;
}

#puces2 span{
  /* display: inline-block; */
  /* align-items: center; */
  position: absolute;
  /* top: 45.5%; */
  /* left: 0.5%; */
  top: 0.4rem;
  left: 0.6rem;
  
  z-index: 1;
  color: white;
  font-size: 15px;
}

#puces3 i{
  position: absolute;
  /* top: 78%; */
  /* left: -2%; */
  top: 16rem;
  left: -0.5rem;
  z-index: 1;
  font-size: 30px;
  color: #9356DC;
}
#puces3 span{
  /* display: inline-block; */
  position: absolute;
  /* top: 78.5%; */
  /* left: 0.5%; */
  top: 0.5rem;
  left: 0.6rem;
  z-index: 1;
  /* color: black; */
  color: white;
  font-size: 15px;
}
.fonction-choix {
  border-radius: 1.5rem;
  background-color: #f7f7f7;
  /* background-color: rgb(219, 107, 129); */
  display: flex;
  justify-content: center;
  margin: 0.5rem;
  padding: 2rem;
  box-shadow: 2px 2px 12px -3px gray;
  /* box-shadow: 0 9px grey; */
  /* box-shadow: 4px 2px 2px grey; */

}
.fonction-choix:hover{
  transform: translate(3px); 
  background-color: #9356DC1A;
  /* background-color: #9356DC14; */
  /* box-shadow: 2px 1px 1px #000000; */
  cursor: pointer;
  /* box-shadow: 0 6px grey; */

}
.fonction-choix i{
  margin-right: 20px;
}
.fa-store{
  color: #9356DC;
}
/********************* Restaurants Accueil ***************************/

#contener-restaurants {
  /*display: flex; Break point à partir de Min 768 & Max 992px */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  flex-wrap: wrap;
  width: 100%;
  background-color: #f7f7f7;
  /* background-color: #f0f0f0; */
} 

#contener-bis{
  width: 100%;
}


#h2-resto {
  margin-top: 2rem;
  margin-left: 1.5rem;
  align-items: flex-start;
  width: 100%;
  /* background-color: yellow; */
}
#contener-restaurants  a{
  width: 100%;
  padding-bottom: 0;
  text-decoration: none;
  color: black;
  margin: 0;
}
.figure-card {
  /* align-items: flex-start; */
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: auto;
  /* margin: 0; */
  margin-top: 1.5rem;
  border-radius: 1rem;
  /* background-color: crimson; */
  background-color: #fff;
}

.figure-card img {
  width: 100%;
  /* height: 50%; */
  height: 12rem;
  object-fit: cover;
  object-position: center right;
  /* object-position: bottom center; */
  border-radius: 1rem 1rem 0 0;
}

.figure-card span{
  position: absolute;
  top: 5%;
  right: 3%;
  z-index: 1;
  padding: 5px 12px 5px 12px;
  text-transform: capitalize;
  color: green;
  background-color: #99E2D0;
}
.figure-card, .card2 img{
  /* object-position: center; */
  object-position: 62% 62%;
}
.figcap-flex{
  width: 97%;
  display: flex;
  flex-flow: column wrap;
  padding-left: 0.5rem;
  border-radius: 0 0 1rem 1rem;
  height: 13vh; /* A modifier lors du Break point media Query*/
  /* align-content: space-between; */
  /* background-color: #fff; */
  /* margin: auto; */
}  
.figcap-flex h3 {
  margin-left: 0.5rem;
}
.figcap-flex p{
  margin: 0.5rem 0 0 0.5rem;
}
.figcap-flex i {
  margin-left: 70%; 
  margin-top: 1rem;
  /* line-height: 2.2;*/ 
  flex-wrap: nowrap; 
  font-size: 2rem;
  /* font-size: 1.7rem; */
  /* color: green; */
  /* color: rgba(128, 128, 128, 0.878); */
  /* background-image: linear-gradient(#FF79DA, #9356DC); */
}
.items .fa-regular {
  margin-left: 70%; 
  margin-top: 1rem;
  
  /* line-height: 2.2;*/
  /* flex-wrap: nowrap; */
  /* font-size: 3rem; */
} 
.items{
  width: 50%;
  height: 2.5rem;
  /* align-content: space-between; */
  /* background-color: skyblue; */
  /* border: 1px solid black; */
}
.items .fa-solid, .fa-regular{
  color: transparent;
  background-image: linear-gradient(red, blue);
  background-clip: text;
  -webkit-background-clip: text;
}
.items i:hover{
  transform: translate(20);
  opacity: 0;
}
/* **************************************************************** */
/* ********************* Media Query Tablette ********************* */
/* **************************************************************** */
@media (min-width: 768px) and (max-width: 992px) {

/******** Entête media query ***********/

.logo-entete {
  /* font-stretch: ultra-expanded; */
  font-size: 3rem;
  /* text-transform: uppercase; */
}
  /********* Exploration Restaurants Média **********/

#explorer-restaurants p{
  font-size: 1.2rem;
}

#explorer-restaurants h2 br{
  display: none;
}
#button-explorer{
  width: 18rem;
  text-transform: uppercase;
} 

#fonctionnement ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  text-transform: uppercase;
  border: 2px solid slateblue;
  /* flex-direction: row; */
  flex-wrap: wrap;
}
.fonction-choix{
  height: auto;
}
#puces1 i{
  /* display: flex; */
  /* flex-direction: column; */
  top: 16%;
  left: 0.5%;
  /* top: 2.5rem; */
  /* left: 0.2rem; */
  /* z-index: 2; */
}
#puces2 i{
  /* position: absolute;*/ 
  top: 17%;
  left: 52%;
  /* top: 2.5rem; */
  /* left: 23.8rem; */
}
#puces3 i{
  /* position: absolute; */
  top: 68%;
  left: 24%;
} 
/* ************ Galeries photos restaurants Média ***************/

#contener-restaurants {
  border: 2px solid orange;
  flex-wrap: wrap; 
}
.figure-card {
  border: 2px solid red;
  margin-top: 2rem;
  flex-wrap: wrap;
}   
.entrees {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
.entrees p:first-child{
  
  align-items: flex-start;
  text-transform: uppercase;
  width: 95%;
}

.plats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5%;
}
.plats p:first-child{
  align-items: flex-start;
  text-transform: uppercase;
  width: 95%;
}
.desserts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.desserts p:first-child{
  align-items: flex-start;
  text-transform: uppercase;
  width: 95%;
}

.menus-restaurants {
  background-color: #fff;
  box-shadow: 2px 2px 2px 4px rgba(128, 128, 128, 0.103);
  border-radius: 1rem;
  display: flex;
  margin-bottom: 5%;
  word-wrap: normal;
  height: 4.5rem;
  width: 90%;
  /* width: 95%; Taille origine */
}
.menus-restaurants  i {
  margin-left: 55%;
}
.menu-texte {
  width: 90%;
}
.menu-texte h3, .menu-texte p{
  margin-left: 3%;
  line-height: 0.3;
}

.menu-prix {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 4%;
  width: 20%;
}


/* *********************** Media Footer ******************* */
footer h3{
  font-size: 25px;
} 
footer ul, li{
    display: flex;
    justify-content: center;
    height: 3rem;
    margin-left: 1%;
    margin-top: 0.5rem;
    /* margin-top: 0.01rem; */
}

  } /* Crochet de cloture du Media Query  */

/* **************************************************************** */
/* ********************* Media Query Desktop ********************* */
/* **************************************************************** */
@media (min-width: 993px) {

  .logo-entete {
    font-size: 3.5rem;
  }
  #explorer-restaurants p{
    font-size: 1.4rem;
  }
  
  
  #explorer-restaurants br{
    display: none;
  }
  /* #fonctionnement {
    /* height: 400px; */
    /* width: 100%; */
    /* flex-wrap: wrap; */
    /* font-size: rem; 
    justify-content: center;
    /* background-color: #f6f6f6; */
    /* display: flex; */
    /* flex-direction: column; */
    /* background-color: red;
  } */
  #button-explorer{
    width: 20rem;
    text-transform: uppercase;
  } 
  #fonctionnement,
  ul {
    flex-direction: row; 
    width: 100vw;
  } 
    
  #fonctionnement li{
    margin: 1rem;
    width: 25%;
  }
  #puces1 i{
    top: 35%;
    left: -0.1%;
  }
  #puces1 span{
    top: 0.4rem;
    left: 0.7rem;
  }
  #puces2 i{
    top: 35%;
    left: 30%;
  }
  #puces3 i{
    top: 35%;
    left: 60%;
  }
  
  #contener-restaurants{
    background-color: orange;
    /* margin: 0; */
  }
  
  #contener-grid{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    /* grid-template-rows: 1fr 1fr; */
    /* grid-column-gap: 20px; */
    /* grid-row-gap: 20px; */
    justify-content: center;
    /* display: flex; */
    flex-wrap: wrap;
    /* background-color: crimson; */
  }
#h2-resto{
  background-color: skyblue;
  grid-template-rows: 1rem;
  height: 2rem;
  grid-row: 1/2;
  grid-column: 1/-1;
}
.figcap-flex{
  /* width: 100%; */
  height: 5rem;
}
.figcap-flex h3{
  margin-top: 0.5rem;
}
.figcap-flex p{
  margin-top: 0.5rem; 
} 
/* ****************** Média Footer Desktop ********************/
footer{
  padding-bottom: 3rem;

}
.logo-footer{
  width: 25%;
  text-align: center;
  margin-left: 29%;
  /* padding-left: 20px; */
  font-size: 40px;
} 
footer ul, li{
    display: flex;
    justify-content: space-around;
    /* height: 5rem; */
    margin-left: 1rem;
}



} /* crochet de fermeture du Média query */


/************************* pied de page ***************************/

footer {
  background-color: #020202;
  color: #fff;
  width: 100%;
  height: 12rem;
  /* z-index: 3; */
}
/* Description (.footer-next pour les restaurants sauf index.html) */

.logo-footer {
  margin-top: 15%;
  font-family: "Shrikhand", cursive;
  padding-top: 5%;
  margin-left: 5%;
}
.logo-footer,
ul {
  margin-left: 5%;
  padding-left: 0;
  line-height: 1.5;
}
.fa-utensils {
  margin-right: 10px;
}
.fa-handshake-angle
.fa-xs {
  margin-left: 25px;
  font-size: 0.1rem;
}
.active{
  color: white;
  text-decoration: none;
}
.active:hover{
  color: #99E2D0;
  /* color: white; */
}
